.ir{
  position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}
.wrapper{
  text-align: center;
  margin:50px auto;
  width:300px;
  
}
.content-title{
  font-weight: 900;
}
.colorPicker{
  position:absolute;
  right:10px;
  top:10px;
  font-size:12px;
}
.introduce{
  margin-top:30px;
  font-weight: 700;
  font-size:16px;
}
.todoMain{
  margin-top:30px; 
  border-radius: 15px;
}
.off{
  display:none;
}
.done{
  text-decoration:line-through
}
.todoSection .inpTodo{
  font-size:12px;
  padding:5px;
  margin-top:10px;
  margin-right:10px;
  width:200px;
  border-radius: 15px;
  border:0;
}
.todoSection .todoPush{
  font-size:12px;
  padding:4px 10px;
  border-radius:15px;
  border:0;
  background-color:ddd;
  
  
}
.todoList{
  list-style: none;
  padding:10px;
  font-size: 12px;
  
}
.todoList li{
  background-color: white;
  margin:8px;
  padding:5px;
  text-align: left;
  font-weight:600;
  border-radius: 15px;
  
}

.donebtn{
  margin-left:160px;
  margin-right:10px;
}
.donebtn,.deletebtn{
  background-color:#ddd;
  border-radius: 15px;
  border:0;
  color:black;
  font-size: 8px;
}